{% extends 'base.html.twig' %}

{% block title %}Aggregated feed{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Aggregated Feed ✅</h1>


        <a href="?s=Restaurant">search by 'Restaurant'</a>
        <ul>
            {% for blogRecord in blogRecords %}


                <li>
                    <article>

                        <h2>{{ blogRecord.title }}</h2>
                        <img src="{{ blogRecord.imageUrl }}" width="200" alt="{{ blogRecord.title }}" />
                        <section class="content">{{ blogRecord.content }}</section>

                    </article>

                </li>

            {% endfor %}

        </ul>


    </div>
{% endblock %}
